.dashboard-section {
    max-width: 1100px;
    margin: 40px auto 20px auto;
    /* background: #eaf4ff; */
    border-radius: 16px;
    /* box-shadow: 0 4px 16px rgba(0,0,0,0.08); */
    padding: 32px 24px;
    font-family: 'Arial', sans-serif;
    backdrop-filter: blur(5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.dashboard-section h2 {
    text-align: center;
    color: #23408e;
    font-size: 2.5rem;
    margin-bottom: 24px;
}

.dashboard-welcome {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 24px;
    color: #23408e;
}

.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
    margin-bottom: 32px;
}

.dashboard-card {
    /* background: #fff; */
    border-radius: 10px;
    box-shadow: 5px 8px 15px rgba(0,0,0,0.2);
    padding: 20px 18px;
    min-height: 180px;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid #c7c6c6;

}

.dashboard-card h3 {
    color: #23408e;
    margin-bottom: 12px;
    font-size: 1.2rem;
}

.dashboard-card ul {
    list-style: disc inside;
    padding-left: 0;
    color: #23408e;
    font-size: 1rem;
}

.grade {
    color: #667eea;
    font-weight: bold;
}

.dashboard-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
}

.dashboard-links .button {
    background: radial-gradient(circle, #a1c4fd, #667eea);
    border: none;
    color: #23408e;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.2s, box-shadow 0.2s;
    border: 2px solid #23408e;
}

.dashboard-links .button:hover {
    background: radial-gradient(circle, #667eea, #a1c4fd);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    border-radius: 10px;
    text-decoration: underline;
    width: 180px;
    transition: all 0.3s ease-in-out;
}
