.profile-section {
    max-width: 500px;
    margin: 40px auto 20px auto;
    border-radius: 15px;
    box-shadow: 5px 6px 16px rgb(104, 104, 104);
    padding: 32px 24px;
    backdrop-filter: blur(3px);
    text-align: center;
    font-family: 'Arial', sans-serif;
    border-right: 3px solid #d7d7d7;
    border-bottom: 3px solid #d7d7d7;
    animation: porofileAni 1s ease-in-out;
}

@keyframes porofileAni {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.profile-section:hover {
    filter: brightness(1.02);
    transform: translateY(-2px);
}

.profile-section h2 {
    margin-bottom: 24px;
    color: #23408e;
    font-size: 40px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 18px;
    border: 3px solid #a1c4fd;
}

.profile-details ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.profile-details li {
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: #092b81;
}

.button {
    background: radial-gradient(circle, #a1c4fd, #667eea);
    border: none;
    color: #23408e;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    border: 3px solid #4a90e2;
    transition: background 0.2s, box-shadow 0.2s;
}

.button:hover {
    background: radial-gradient(circle, #667eea, #a1c4fd);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    text-decoration: underline;
}